# Byte-compiled / optimized / lock files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Project Specific
logs/
backup_file_files/
parametric_file_files/
writings/